.playlist{
    font-family:monospace;
    text-align:right;
    font-weight: 700;
    letter-spacing: 3px;
    color:white
}

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: white
    
}
body{
    background-color: black
    
}
a{
    color: blueviolet;
    text-decoration: none
}

h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: white
    
}
.sin-orden{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: rgb(57, 57, 57);
    line-height: 0.1
}

.canciones{
    color:rgb(120, 82, 82);
    padding-left: 0%;
    font-family: "Fjalla One", sans-serif;
    font-weight: 600;
}


.album{
    text-decoration: none;
    color: rgb(57, 57, 57);
    text-decoration: none;

}

.invisible{
    color: black;
}

.link-playlist{
    position:sticky;
    left: 1300px;
}

div{
    background-color: gainsboro;
    border: 10px solid ;
    border-color:  rgb(57, 57, 57);
    border-radius: 20px;
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 20px;
    height: 40%;
    width: 40%;
}


